.content-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.content-padded {
    position: fixed;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
 	overflow-y: scroll;
 	-webkit-overflow-scrolling: touch;
    padding-top: 68px;
    padding-bottom: 46px;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
}